extends main

block content
	.container
		.h3Border(style='margin-bottom:8px;')
			h3 Expanse Charts
		.row
			.col-md-12
				#txs
				br
		.row
			.col-md-12
				#difficulty
				br
		.row
			.col-md-12
				#fees
				br
		.row
			.col-md-12
				#miners

	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js')
	script(src='/js/chartsPage.js')

