extends main

block content
	.container
		.error
			.mainError
				p 404
			h2 Ooops, Page Not Found.
			p An unexpected error occured.
			p(style='margin-top:-10px') Please check back later.
			//- otladka
		.kek
			h1= message
