extends main

block content

	.container
		.h3Border(style='margin-bottom:8px;')
			h3 Pending Transactions
		.table-responsive
			table.table.block-info
				thead
					tr
						th TxHash
						th From
						th To
						th Value 
					tbody
			p(style='text-align: center') No Pending Transactions
